black==20.8b1
bump2version==1.0.1
flake8==3.9.2
flake8-implicit-str-concat==0.2.0
flake8-print==4.0.0
isort==5.9.1
pre-commit==2.13.0
pytest
yamllint==1.26.1
pytest
pytest-cov
bpy
collections
mathutils
numpy==1.25.2
pandas==2.1.0
sys
random
os 
math
datetime
json
subprocess
bmesh